<ng-container *ngIf="datum">
    <ng-container *ngIf="propType == EntityPropertyType.Date">{{ datum | date }}</ng-container>
    <ng-container *ngIf="propType == EntityPropertyType.DateTime">{{ datum | date: 'medium' }}</ng-container>
    <ng-container *ngIf="propType == EntityPropertyType.TextShort">{{ datum }}</ng-container>
    <ng-container *ngIf="propType == EntityPropertyType.TextLong">{{ datum }}</ng-container> <!-- Add Synopsis/ellipsis-->
    <ng-container *ngIf="propType == EntityPropertyType.Money">{{ datum | currency }}</ng-container>
    <ng-container *ngIf="propType == EntityPropertyType.Number">{{ datum | number }}</ng-container>
    <ng-container *ngIf="propType == EntityPropertyType.ForeignKeyName"><a [routerLink]="['/view', prop.foreign?.table, datum.id]">{{ datum.display_name }}</a></ng-container>
    
    <ng-container *ngIf="propType == EntityPropertyType.Unknown">{{ datum }}</ng-container>
</ng-container>
<ng-container *ngIf="!datum">
    <em>Not Set</em>
</ng-container>