<div class="prose">
  @if (entity$ | async; as entity) {
    @if (properties$ | async; as props) {
      @if (data$ | async; as data) {
        <h1>
          {{ entity.display_name }}: {{ data.display_name }} <sub>(Id: {{entityId}})</sub>
          @if (entity.description) {
            <div class="tooltip tooltip-right inline-block" [attr.data-tip]="entity.description">
              <span class="material-symbols-outlined text-info cursor-help ml-2 text-xl align-middle">help_outline</span>
            </div>
          }
        </h1>
        @if (loading()) {
          <div class="flex justify-center my-8">
            <span class="loading loading-spinner loading-lg"></span>
          </div>
        } @else if (editForm(); as form) {
          <form [formGroup]="form" (ngSubmit)="submitForm($event)">
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 2xl:grid-cols-8 gap-6">
              @for (prop of props; track prop) {
                <div [class]="'col-span-full sm:col-span-' + Math.min(SchemaService.getColumnSpan(prop), 3) + ' lg:col-span-' + Math.min(SchemaService.getColumnSpan(prop), 6) + ' 2xl:col-span-' + SchemaService.getColumnSpan(prop)">
                  <app-edit-property [property]="prop" [formGroup]="form"></app-edit-property>
                </div>
              }
            </div>
            <div class="divider"></div>
            <button class="btn btn-accent" [disabled]="form.invalid">
              <span class="material-symbols-outlined">save</span> Save
            </button>
          </form>
        }
      }
    }
    <app-dialog #successDialog>
      <button class="btn mx-2" (click)="navToList(entity.table_name)">Back to {{entity.display_name}} list</button>
      <button class="btn mx-2" (click)="navToRecord(entity.table_name, entityId)">Back to record</button>
    </app-dialog>
    <app-dialog #errorDialog>
      <button class="btn mx-2">Try again</button>
      <button class="btn mx-2" (click)="navToList(entity.table_name)">Back to {{entity.display_name}} list</button>
    </app-dialog>
  }
</div>
