<div class="form-control" [formGroup]="form">
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">{{ prop.display_name }}{{ prop.is_nullable ? '' : '*'}}</span>
    </div>

    @if (propType == EntityPropertyType.Date) {
      <input type="date" placeholder="Type here" class="input input-bordered w-full max-w-xs" [id]="prop.column_name" [formControlName]="prop.column_name" />
    }
    @if (propType == EntityPropertyType.DateTime) {
      <input type="datetime" placeholder="Type here" class="input input-bordered w-full max-w-xs" [id]="prop.column_name" [formControlName]="prop.column_name" />
    }
    @if (propType == EntityPropertyType.DateTimeLocal) {
      <input type="datetime-local" placeholder="Type here" class="input input-bordered w-full max-w-xs" [id]="prop.column_name" [formControlName]="prop.column_name" />
    }
    @if (propType == EntityPropertyType.TextShort) {
      <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" [id]="prop.column_name" [formControlName]="prop.column_name" />
    }
    @if (propType == EntityPropertyType.TextLong) {
      <textarea class="textarea textarea-bordered h-24" placeholder="Type here" [id]="prop.column_name" [formControlName]="prop.column_name"></textarea>
    }
    @if (propType == EntityPropertyType.Money) {
      <input type="text" currencyMask placeholder="Type here" class="input input-bordered w-full max-w-xs" [id]="prop.column_name" [formControlName]="prop.column_name" />
    }
    @if (propType == EntityPropertyType.IntegerNumber) {
      <input type="number" placeholder="Type here" step=1 mask="0*" [allowNegativeNumbers]="true" class="input input-bordered w-full max-w-xs" [id]="prop.column_name" [formControlName]="prop.column_name" />
    }
    @if (propType == EntityPropertyType.Boolean) {
      <input type="checkbox" class="toggle" [id]="prop.column_name" [formControlName]="prop.column_name" />
    }
    @if (propType == EntityPropertyType.ForeignKeyName) {
      <ng-container *ngrxLet="selectOptions$ as selectOptions">
        <select class="select select-bordered w-full max-w-xs" [id]="prop.column_name" [formControlName]="prop.column_name">
          @if (prop.is_nullable) {
            <option [value]="null">Select an Option</option>
          }
          @for (option of selectOptions; track option) {
            <option [value]="option.id">{{option.text}}</option>
          }
        </select>
      </ng-container>
    }

    @if (propType == EntityPropertyType.Unknown) {
    }

    @if (form.controls[prop.column_name]; as ctl) {
      @if (ctl.invalid && (ctl.dirty || ctl.touched)) {
        <div
          class="text-error">
          @if (ctl.errors?.['required']) {
            <div>
              {{ prop.display_name }} is required.
            </div>
          }
        </div>
      }
    }
  </label>
</div>