<div class="prose">
  @if (entity$ | async; as entity) {
    @if (properties$ | async; as props) {
      <h1>
        New {{ entity.display_name }}
        @if (entity.description) {
          <div class="tooltip tooltip-right inline-block" [attr.data-tip]="entity.description">
            <span class="material-symbols-outlined text-info cursor-help ml-2 text-2xl align-middle">help_outline</span>
          </div>
        }
      </h1>
      @if (createForm) {
        <form [formGroup]="createForm" (ngSubmit)="submitForm($event)">
          @for (prop of props; track prop) {
            <div>
              <h3>{{ prop.display_name }}</h3>
              <app-edit-property [property]="prop" [formGroup]="createForm"></app-edit-property>
            </div>
          }
          <div class="divider"></div>
          <button class="btn btn-accent" [disabled]="createForm.invalid">
            <span class="material-symbols-outlined">save</span> Save
          </button>
        </form>
      }
    }
    <app-dialog #successDialog>
      <button class="btn mx-2" (click)="navToCreate(entity.table_name)">Create another {{entity.display_name}}</button>
      <button class="btn mx-2" (click)="navToList(entity.table_name)">Back to {{entity.display_name}} list</button>
    </app-dialog>
    <app-dialog #errorDialog>
      <button class="btn mx-2">Try again</button>
      <button class="btn mx-2" (click)="navToList(entity.table_name)">Back to {{entity.display_name}} list</button>
    </app-dialog>
  }
</div>
