<div class="prose max-w-none">
    <ng-container *ngrxLet="entity$ as entity"><ng-container *ngIf="entity">
		<h1>{{ entityKey }} List</h1>
		<div class="overflow-x-auto">
			<table class="table">
				<ng-container *ngrxLet="data$ as data"><ng-container *ngIf="data?.length">
					<ng-container *ngrxLet="properties$ as props"><ng-container *ngIf="props">
						<!-- head -->
						<thead>
							<tr>
								<th *ngFor="let prop of SchemaService.filterPropsForDisplay(props)">{{ prop.name | propSplit | titlecase }}</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let row of data" [routerLink]="'/view/'+entityKey+'/'+row.id" class="pointer">
								<td *ngFor="let prop of SchemaService.filterPropsForDisplay(props)">
									<app-display-property [datum]="row[prop.name]" [properties]="props" [property]="prop" [linkRelated]="false"></app-display-property>
								</td>
							</tr>
						</tbody>
					</ng-container></ng-container>
				</ng-container></ng-container>
			</table>
		</div>
	</ng-container></ng-container>
</div>
