<div class="prose">
  @if (entity$ | async; as entity) {
    <h1>
      {{ entity.display_name }} List
      @if (entity.description) {
        <div class="tooltip tooltip-right inline-block" [attr.data-tip]="entity.description">
          <span class="material-symbols-outlined text-info cursor-help ml-2 text-2xl align-middle">help_outline</span>
        </div>
      }
    </h1>
    <div class="overflow-x-auto">
      @if (entity.insert) {
        <button class="btn btn-primary" [routerLink]="'/create/' + entityKey">
          <span class="material-symbols-outlined">add_circle</span> Add {{ entity.display_name }}
        </button>
      }
      <table class="table">
        @if (properties$ | async; as props) {
          <!-- head -->
          <thead>
            <tr>
              @for (prop of props; track prop) {
                <th>{{ prop.display_name }}</th>
              }
            </tr>
          </thead>
          @if (data$ | async; as data) {
            <tbody>
              @if (data?.length) {
                @for (row of data; track row) {
                  <tr [routerLink]="'/view/'+entityKey+'/'+row.id" class="pointer">
                    @for (prop of props; track prop) {
                      <td>
                        <app-display-property [datum]="row[prop.column_name]" [property]="prop" [linkRelated]="false" [showLabel]="false"></app-display-property>
                      </td>
                    }
                  </tr>
                }
              } @else {
                <tr>
                  <td colspan="100%" class="text-center border-spacing-4">No Entries</td>
                </tr>
              }
            </tbody>
          }
        }
      </table>
    </div>
  }
</div>
